.contact-us-container {
    padding: 50px 0;
    background-color: lightgray;
  }
  
  .contact-info {
    margin-bottom: 30px;
  }
  
  .contact-info h2 {
    margin-bottom: 20px;
  }
  
  .contact-info p {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .contact-info .fa-icon {
    margin-right: 10px;
  }

  #formMessage{
    margin-bottom: 10px;
  }
  